<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <title>
            <%block name="title">${APP}</%block>
        </title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="${load_css('bootstrap-3.3.5-dist/bootstrap.min.css')}">
        <link rel="stylesheet" href="${load_css('base.css')}">
        <%block name="css">
        </%block>
    </head>
    <body>
        ${next.body()}

        <script src="${load_js('jquery-2.2.3.min.js')}"></script>
        <script src="${load_js('bootstrap-3.3.5-dist/bootstrap.min.js')}"></script>
        <%block name="js">
        </%block>
    </body>
</html>
