<%inherit file="_base.html"/>
<%block name="css">
    <link rel="stylesheet" href="${load_css('base.css')}">
</%block>
<div class="row" ng-controller="TaskCtrl">
    <div class="col-md-4">
        <div class="box">
            <div class="head">
                TODO
            </div>
            <div class="list-view" id="todo">
                <div class="item list-group-item" ng-repeat="x in o">
                    <input type='checkbox'>
                    {{x.title}}
                    <a href="javascript: alert(1); void(0);">
                        <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box">
            <div class="head">
                DOING
            </div>
            <div class="list-view" id="doing">
                <div class="item list-group-item">
                    <input type='checkbox'>
                    今天上午4
                </div>
                <div class="item list-group-item">
                    <input type='checkbox'>
                    今天上午5
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box">
            <div class="head">
                DONE
            </div>
            <div class="list-view" id="done">
                <div class="item list-group-item">
                    <input type='checkbox'>
                    今天上午6
                </div>
                <div class="item list-group-item">
                    <input type='checkbox'>
                    今天上午7
                </div>
            </div>
        </div>
    </div>
</div>

<%block name="js">
    <script src="${load_js('index.js')}"></script>
</%block>
